<div class="message">
<span class="orange-text" style="margin-left: 10px"><%= message.user.name %></span>: <%= message.body %>
<div class="grey-text" style="margin-left: 10px"><%= distance_of_time_in_words_to_now(message.created_at)%> ago</div>
</div>


