<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src='acebook-5Makerteers/public/assets/logo-a9f67460fdf23e0e87d79b44ad0df75e7e4f96262a792c663f1c7441dc238a09.png' style="max-width: 60%; height: auto"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item ">
          <%= link_to current_user.name, user_path(current_user.id), :class =>"nav-link" %> 
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/chatroom/show">Chat</a>
      </li>
      <% end %>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
        <form action="/users/find" method="get" class="form-inline" style="margin-left: auto; margin-right: auto;">
          <input name="username" class="form-control" type="search" placeholder="Search Acebook" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class =>"nav-link" %> 
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Log In", new_user_session_path, :class =>"nav-link" %> 
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, :class =>"nav-link" %> 
      </li>
      <% end %>
    </ul>
  </div>
</nav>